/* Specification */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #304041;
    letter-spacing: 0.05em;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.btn {
    font-weight: 800;
    font-size: 16px;
    border-radius: 119px;
    padding: 18px 0;
    
}

.section {
    padding-top: 144px;
}

/* Header */
.header {
    background: linear-gradient(180deg, rgba(121, 181, 196, 0) 1.39%, rgba(19, 75, 85, 0.26) 44.44%), url('../img/header-bg.jpg') no-repeat center top / cover;
    text-align: center;
    padding: 90px 0 80px;
    color: #fff;
}

.offer {
    margin-top: 201px;
}

.header__span{
    background: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 800;
    border-radius: 78px;
    /* width: 234px; */
    padding: 8px 17px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.offer__title {
    font-size: 60px;
    letter-spacing: 0.145em;
    margin-top: 24px;
}

.offer__text {
    font-size: 20px;
    margin-top: 24px;
}

.offer__btn {
    color: #fff;
    background: #FF7E36;
    margin-top: 24px;
    display: block;
    width: 247px;
    margin: 24px auto;
    transition: background 0.5s ease, color 0.5s ease;
}

.offer__btn:hover {
    background: #fff;
    color: #FF7E36;
    transition: background 0.5s ease, color 0.5s ease;
}

.arrow-down {
    background: url('../img/arrow-down.svg');
    width: 18px;
    height: 27px;
    display: block;
    margin: 217px auto 0;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.arrow-down:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* routes */
.section-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}

.dastinations__item {
    display: flex;
}

.dastinations__wrapper{
    background: #EAF4F7;
    padding: 112px 78px 113px 73px;
}

.dastinations__wrapper_span {
    text-transform: uppercase;
    font-size: 15px;
    color: #789AA0;
    display: block;
    margin-bottom: 20px;
}

.dastinations__title {
    font-size: 24px;
}

.dastinations-wrap__desc {
    margin-top: 40px;
    line-height: 1.52em;
}

.dastinations__btn {
    background: url('../img/arrow-next.png');
    width: 68px;
    height: 17px;
    display: block;
    color:#44ACB3;
    margin-top: 47px;
    opacity: 0.5;
}

.dastinations__btn:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

.dastinations__img img {
    width: 476px;
    height: 100%;
    object-fit: cover;
} 

.dastinations__img img:hover {
    box-shadow: 0px 25px 70px rgba(4, 43, 55, 0.28);
    border-radius: 0px 5px 5px 0px;
    transition: all 0.5s ease;
} 

.btn-ghost {
    margin: 90px auto 0;
    border: 1px solid #FF7E36;
    color: #FF7E36;
    display: block;
    width: 332px;
    text-align: center;
    transition: background 0.5s ease, color 0.5s ease;
}

.btn-ghost:hover {
    border: 1px solid #FF7E36;
    color: #FFF;
    background: #FF7E36;
    transition: background 0.5s ease, color 0.5s ease;
}

/* possibilities */

.possibilities-content {
    background: url('../img/photo2.jpg') no-repeat right center /50%;
    padding: 150px 0;
}

.container_full-height {
    height: 100%;
    display: flex;
    align-items: center;
}

.possibilities-content__item {
    font-size: 16px;
    width: 407px;
}

.possibilities-content__item:not(:last-child) {
    margin-bottom: 57px;
}

.possibilities-content__item::before {
    content: '';
    display: block;
    width: 64px;
    height: 7px;
    border-radius: 23px;
    background: #FF7E36;
    margin-bottom: 15px;
}

/* footer */

.footer {
    padding-bottom: 165px;
}

.footer-container {
    display: flex;
}

.footer-container__text {
    font-size: 14px;
}

.footer-container__text:not(:last-child) {
    margin-right: 60px;
}
